<?xml version="1.0"?>
<phpunit bootstrap="./bootstrap.php">
    <testsuite name="Aphera Test Suite">
        <directory>./Aphera/</directory>
    </testsuite>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">../library</directory>
        </whitelist>
    </filter>
</phpunit>
